@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Gulzar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo' , sans-serif;

}
body{
    background-color:var(--forth-color)
}
a{
    text-decoration: none;
}
header .icons i{
    color: white;
}
li{
    list-style: none;
}
ul{
    display: flex;
    align-content: center;
}
:root{
    --main-color: #bbc7ea;
    --second-color:#5757f8;
    --third-color:white;
    --forth-color:#454b9a;

}
header{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    padding:10px 70px;
}
header .icons a{
    margin-left: 10px;
}
header .search input{
    padding: 0 15px;
    font-size: 15px;

}
nav{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: var(--main-color);
    box-shadow : inset black 15px;
}
nav #logo{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
nav #logo #logo-text{
    display: flex;
    flex-direction: column;
    color:var(--);
    font-weight: 500;
    margin-top: -30px;
    margin-bottom:18px;
    margin-right: 10px;
    align-items: center;
    
}
nav #logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

input.active{
    display: inline-block;
    width: 100%;
}
#spans{
    width: 40px;
    height: 30px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 4px;
    display: none;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
#spans.active{
    transform: translateX(-200px);
}
#spans span{
    display:block;
    width: 100%;
    height: 4px;
    background-color: white;
}
button  span:nth-child(2){
    margin: 5px 0;
}
.dropbtn {
    background-color: transparent;
    color: var(--second-color);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: var(--second-color); color:var(--third-color); border-radius: 10px;}

.tabs{
    margin-left: 50px;
}
aside{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
    direction: ltr;
    background-color: var(--second-color);
    color: var(--main-color);
    background-blend-mode: overlay;
    height: 77.5vh;
    display:none;
    z-index: 1000;
}
aside.active{
    display: block;
}
aside .dropbtn{
    color: var(--main-color)
}
aside .aside-tabs{
    display: flex;
    flex-direction:column;
}
aside .aside-tabs .dropdown-content{
    margin-left: 187px;
    margin-top: -53px;
    z-index: 999;
}
aside .aside-tabs .dropdown-content a{
    background-color:var(--main-color);
    color:var(--second-color);
}

.main{
    background-image: url("view.png");
    height: 80vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color:rgba(0,0,0,0.8) ;
    background-blend-mode: overlay;
    background-attachment: fixed;
    display: flex;
    justify-content: right;
    align-items:center;
}
.main .auto-write{
    margin-right: 15%;
    margin-top:-5%;
}
.main .auto-write #auto-write1,#auto-write2{
    color: var(--third-color);
}


/*===========================*/

.main-points{
    margin-top: 150px;
    padding:25px;
    background-color:lavender;
}


.main-points h2{
    margin: auto;
    text-align: center;
}
.main-points h2 span{
    display:block;
    width: 10%;
    margin: auto;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: var(--main-color);
}
.main-points h2 span:nth-child(2){
    width: 6%;
}
.main-points h2 span:nth-child(3){
    width: 5%;
}
.main-points .cards{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.main-points .cards .card{
    width: 30%;
}
.main-points .cards .card:nth-child(2){
    margin:0 5%;
}
.main-points .cards .card h3{
    color: var(--second-color);
}   
/*=====================*/
.manager-word{
    margin: auto;
    margin-top:50px; 
    width: 90%;
    background-color: lavender;
    padding: 25px;
}


.manager-word .title{
    margin: auto;
    text-align: center;
    
}
.manager-word h2 span{
    display:block;
    width: 10%;
    margin: auto;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: var(--main-color);
}
.manager-word h2 span:nth-child(2){
    width: 6%;
}
.manager-word h2 span:nth-child(3){
    width: 5%;
}

.manager-word .word-content{
    display:flex;
    justify-content:space-between;
    margin-top: 5.5%;
}
.manager-word .word-content .card{
    width: 50%;
}
.manager-word .word-content .card:first-child h2,h3{
    text-align: center;
}
.manager-word .word-content .card:first-child img{
    width: 35%;
    display: block;
    margin: 0 auto;
}
.manager-word .word-content .card p{
    line-height: 33px;
    margin-bottom: 50px;
}

/*========================================*/


.main-points .cards .card .head img{
    width: 100%;
    height: 180px;
}
.main-points .cards .card .head h2{
    color: var(--second-color);
} 
.main-points .cards .card h1{
    text-align: center;
    color: var(--forth-color);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--second-color); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev , .next{
    color :var(--forth-color);
    background-color: rgba(0,0,0,0.8);

  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: var(--forth-color);
    font-size: 35px;
    font-weight: 1000;
    background-color: var(--main-color);
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



footer{
    display: flex;
    padding: 30px;
    background-color: var(--forth-color);
}
footer a{
    color: var(--third-color);
}
footer div{
    width: 30%;
}
footer div h2,h3{
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
}
footer div:nth-child(2){
    margin: 0 5%;
}
footer div:nth-child(2) iframe{
    width:100%;
    height: 300px;
}















@media (max-width:1115px) {
    .dropbtn{
        padding: 19px;
        
    }
    nav #logo{
        width: 38.5%;
    }
}
@media (max-width:1050px) {
    .tabs{
        display: none;
    }
    #spans{
        display: block;
    }
    nav #logo{
        width: 40%;
    }
}
@media (max-width:910px) {
    .tabs{
        display: none;
    }
    #spans{
        display: block;
    }
    nav #logo{
        width:47%;
    }
}
@media (max-width:783px) {
    .tabs{
        display: none;
    }
    #spans{
        display: block;
    }
    nav #logo{
        width: 55%;
    }
}
@media (max-width:678px) {
    .tabs{
        display: none;
    }
    #spans{
        display: block;
    }
    nav #logo{
        width: 65%;
    }
}
@media (max-width:581px) {
    .tabs{
        display: none;
    }
    #spans{
        display: block;
        
    }
    nav #logo{
        width: 78%;
    }
}
@media (max-width:325px) {
    .tabs{
        display: none;
    }
    input{
        width: 50%;
        float: left;
    }
    #spans{
        display: block;
        
    }
    nav #logo{
        width: 78%;
    }
}


